# Python
.venv/
venv/
__pycache__/
*.pyc

# PyCharm
.idea/

# Node
node_modules/

# Uploads
uploads/

# Chroma DB (optional)
chroma_db/

# Environment variables
.env
echo "chroma_db/" >> .gitignore
/app/generated/prisma