# Python
.venv/
venv/
__pycache__/
*.pyc

# PyCharm
.idea/

# Node
node_modules/

# Uploads
app/Back_End/uploads/
uploads/

# Chroma DB (optional)
app/Back_End/chroma_db/
chroma_db/

# Environment variables
.env
/app/generated/prisma

# Log files
*.log
uvicorn*.log

# Build output
app/Front_End/dist/